body {
  background-color: #F3F5FC;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.logo {
  position: absolute;
}

.logo img {
  position: relative;
  top: 40px;
  left: 40px;
}
